<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>20200417 layout</title>
<style type="text/css">

div{
	width: 250px;
	border: 1px solid #ccc;
}

span{
/* 	테두리는 인라인에 적절하지 않다 */
/* 	border: 1px solid red; */

	background-color:#f99;
	
	width:100px;
	height:100px;
	
/* 	줄간격( 기본값 : 1.35em) */
	line-height:2.5em;
	
/* 	글자크기(기본값: 16px) */
	font-size:16px;
	padding: 5px;
	margin: 30px;
}


</style></head>
<body>

<div>
	<span>span1</span>
	<span>span2</span>
	<span>span3span3span3span3</span>
	<span>가나다라마바사아자차카타파하ㅏㅏㅏㅏㅏㅏㅏ~</span>
</div>

<div>



</div>



</body>
</html>
