<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>20200417 layout</title>
<style type="text/css">

div {
/* 	테두리 설정 */
	border: 1px solid black;
	
/* 	배치 흐름 설정 */
	float: right;
	
}
div:first-child {
	width : 200px;
	height: 200px;
}




</style>

</head>
<body>

<div>div1 안녕하세요</div>
<div>div2 안녕하세요 div2 안녕하세요</div>
<div>div3 안녕하세요 div3 안녕하세요 div3 안녕하세요</div>
<p>소담스러운 청춘 그것을 거선의 역사를 군영과 보라. 우리 가치를 이상은 길을 소금이라 같이 인간은 이상의 아니다.</p>
<p>소담스러운 청춘 그것을 거선의 역사를 군영과 보라. 우리 가치를 이상은 길을 소금이라 같이 인간은 이상의 아니다.

석가는 인생에 인간은 위하여서, 얼마나 같이 있다. 얼마나 그와 인도하겠다는 목숨을 끝까지 청춘의 인간에 천지는 아니다.</p>

</body>
</html>
