<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>20200420 layout</title>
<style type="text/css">

.relative{ 
	position: relative;
	border:1px solid green;	
	
	height:800px;
}

div[class^="content"]{ position:absolute;}

.content1{
	width:68%;
	left:0;
	border: 1px solid red;

}

.content2{
	width:30%;
	right:0;
	border : 1px solid blue;
	
	
}

.wrapper{
	width:1020px;
	margin:0 auto;
}



</style></head>
<body>

<div class="wrapper">
	<h1>position 테스트</h1>
	<h3>relative, absolute</h3>
	<hr>
	
	<div class="relative">
		<div class="content1">
		<h2>고행을 뛰노는 이상</h2>
		<p>이상 아니더면, 우리는 모래뿐일 약동하다. 그들은 청춘이 그와 과실이 청춘의 방황하여도, 따뜻한 보라. 발휘하기 지혜는 그들에게 피고, 커다란 칼이다. 대중을 그들의 끓는 보내는 뿐이다. 위하여서, 아니더면, 사는가 온갖 것이다. 인간이 발휘하기 무엇을 그들은 같이, 하는 천하를 것이다. 인생의 무엇이 물방아 그러므로 말이다. 인도하겠다는 가지에 그들은 황금시대의 인생에 갑 곳으로 쓸쓸하랴? 현저하게 용기가 그들에게 놀이 같이, 넣는 우리 보이는 관현악이며, 철환하였는가?

		<p>가슴이 같은 싸인 원대하고, 있는 위하여 위하여서. 전인 따뜻한 청춘의 목숨이 위하여 쓸쓸한 생생하며, 사막이다. 곳으로 청춘의 우리 듣기만 끝에 능히 가치를 것이다. 사람은 쓸쓸한 전인 청춘의 봄바람이다. 우리의 어디 싶이 실로 이상, 옷을 아니다. 군영과 갑 있으며, 그들은 끝까지 사라지지 풀이 충분히 봄바람이다. 가치를 밥을 같이, 있으며, 부패뿐이다. 이성은 그들은 듣기만 사랑의 얼마나 물방아 이 그들의 스며들어 끓는다. 원질이 그들은 때에, 것은 생생하며, 두기 부패뿐이다.
		</div>
		
		<div class="content2">
		<h2>별 헤는 밤</h2>
		
		<p>하나에 별에도 없이 위에 당신은 언덕 않은 속의 봅니다. 풀이 라이너 가난한 까닭입니다. 추억과 가득 묻힌 비둘기, 가을로 계십니다. 된 경, 별 버리었습니다. 별 때 책상을 어머니, 있습니다. 지나고 같이 속의 위에 하나의 별을 벌레는 너무나 있습니다. 위에도 소학교 가득 이름을 별 옥 봅니다. 프랑시스 별 불러 어머님, 봅니다. 그리워 다 어머님, 아침이 봅니다.</p>

		<p>계절이 많은 위에 나의 이름자를 헤일 듯합니다. 지나가는 했던 슬퍼하는 부끄러운 봅니다. 못 위에 소학교 추억과 있습니다. 별빛이 하나에 같이 아침이 무엇인지 동경과 된 사랑과 거외다. 불러 가슴속에 못 이웃 별 다하지 까닭입니다. 별 별 흙으로 차 멀리 나의 무덤 겨울이 있습니다. 시와 까닭이요, 벌써 오는 소녀들의 벌레는 한 둘 아무 거외다. 말 가을로 그러나 같이 차 별들을 애기 별 별을 까닭입니다. 멀듯이, 강아지, 노루, 듯합니다. 하나의 멀리 부끄러운 패, 이름과, 이름과, 봅니다. 별을 소학교 어머님, 까닭입니다.</p>
		
		</div>
	</div>
</div>







</body>
</html>
