<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>20200420 layout</title>
<style type="text/css">
#wrap > div{
/* div 의 자식 */
/* 레이아웃을 잡는다 */

 	width:150px; 

	height:150px;
	border:1px dotted black;
	
	display:inline-block;
	
	margin:20px;
	padding:10px;
}
 #wrap {
 
 	text-align:center; /* 가운데정렬 */
 	width:960px;
 	margin: 0 auto; /* 외부정렬 */
 	
 	border:1px solid #ccc;
 }

</style></head>
<body>

<div id="wrap">
	<div>div1 div1</div>
	<div>div2 div2</div>
	<div>div3 div3</div>
	<div>div1 div1</div>
	<div>div2 div2</div>
</div>

</body>
</html>
