<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>20200417 layout</title>

<style type="text/css">
img{
	width:300px;
	height:200px;
	
/* 	배치흐름 왼쪽으로 설정 */

	float: left;

}
.clearfix{
	
}





</style>


</head>
<body>

<img alt="데이브" src="../layout/고양이.jpg">

<p>그들은 그와 대고, 그들의 우리의 되려니와, 남는 눈이 우리의 있는가? 관현악이며, 품으며, 청춘은 품에 착목한는 튼튼하며, 이성은 것이다. 이는 뭇 그것은 있는 뛰노는 얼음 싶이 보이는 봄바람이다. 아니한 얼마나 산야에 이것이다.</p>

<p class="clearfix">지혜는 시들어 바이며, 봄날의 보라. 열락의 시들어 갑 뿐이다.</p>

<p>그들에게 희망의 이상 공자는 끓는다. 용감하고 얼마나 아름답고 봄바람을 그것은 영원히 기쁘며, 사라지지 봄바람이다.</p>



</body>
</html>
