<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>20200417 layout</title>
<style type="text/css">

div{
	width:300px;
	height:200px;
	
	border:1px solid #ccc;
	
	padding:5px;
	margin:10px;
	
	float:left;
}

#visible {   overflow : visible;} /* 기본어로 보여뮺*/
#hidden { overflow: hidden;} /* 숨겨버리고 보이지 않음*/
#scroll { overflow:scroll;}





</style></head>
<body>

<div id="visible">
<p>맺어, 방황하였으며, 목숨이 내는 피고 듣는다. 인생에 꽃이 인생을 갑 이 트고, 영원히 이것이다. 날카로우나 스며들어 풍부하게 피가 있는 내려온 오아이스도 힘차게 투명하되 운다. 가진 곳이 따뜻한 우리의 심장의 사라지지 간에 것이다. 노래하며 사랑의 두기 더운지라 끓는다. 못할 하여도 곳으로 영원히 같이, 인간은 그것을 이상 피다. 끓는 같지 쓸쓸한 하여도 천고에 위하여 교향악이다. 하였으며, 끓는 그림자는 때문이다. 그들의 행복스럽고 우리 청춘의 보이는 청춘의 쓸쓸한 수 것이다. 만천하의 피에 이것이야말로 굳세게 이상의 따뜻한 청춘은 말이다. 위하여 끓는 것이 일월과 무한한 칼이다.</p>
</div>

<div id="hidden">
<p>맺어, 방황하였으며, 목숨이 내는 피고 듣는다. 인생에 꽃이 인생을 갑 이 트고, 영원히 이것이다. 날카로우나 스며들어 풍부하게 피가 있는 내려온 오아이스도 힘차게 투명하되 운다. 가진 곳이 따뜻한 우리의 심장의 사라지지 간에 것이다. 노래하며 사랑의 두기 더운지라 끓는다. 못할 하여도 곳으로 영원히 같이, 인간은 그것을 이상 피다. 끓는 같지 쓸쓸한 하여도 천고에 위하여 교향악이다. 하였으며, 끓는 그림자는 때문이다. 그들의 행복스럽고 우리 청춘의 보이는 청춘의 쓸쓸한 수 것이다. 만천하의 피에 이것이야말로 굳세게 이상의 따뜻한 청춘은 말이다. 위하여 끓는 것이 일월과 무한한 칼이다.</p>
</div>

<div id="scroll">
<p>때에, 그들은 풀이 황금시대다. 구할 물방아 피가 투명하되 군영과 용기가 있으랴? 것은 뜨거운지라, 관현악이며, 이것이다.</p>
</div>

<div id="scroll">
<img alt=" 데이브" src="../selector/고양이.jpg">
</div>






</body>
</html>






