<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>20200420 layout</title>
</head>
<body>

<!-- 머리글 -->
<header>
<h1>SEMANTIC TAG LAYOUT</h1>
<h3>시멘틱 태그</h3>
</header>

<!-- 네비게이션 -->
<nav>
<ul>
	<li><a href="#">&lt;header&gt; ㅌㅐ 그</a></li>
	<li><a href="#">&lt;nav&gt; ㅌㅐ 그</a></li>
	<li><a href="#">&lt;section&gt; ㅌㅐ 그</a></li>
	<li><a href="#">&lt;article&gt; ㅌㅐ 그</a></li>
	<li><a href="#">&lt;footer&gt; ㅌㅐ 그</a></li>

</ul>
</nav>

<hr>

<section>
<article>
	<p>내용물을 ㅈ거는 곳!</p>
	<div class="imgBox">
		<img alt="데이브" src="../layout/고양이.jpg" />
	</div>
</article>
</section>

<hr>

<footer style="font-size: 0.8em; text-align: center;">
powered by sangok<br>
sponsored by sangok<br>
&copy; lacuna
</footer>







</body>
</html>








